.footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 50px;

  .left {
    text-align: left;
   
    h5{
        font-size: .8em;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }
  }

  .right {
    text-align: right;

    ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      
      li {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #081340;
        display: flex !important;
        justify-content: center;
        align-items: center;
        margin: 3px;

        svg {
          width: 12px;
          height: 12px;
          fill: #fff;
        }

        &:hover {
          background-color: #d59fa0;
        }
      }
    }
  }

  p {
    letter-spacing: 0.1em;
    font-size: 0.7em;
    margin: 0;
    padding: 0;

    a {
      color: #000000;
      text-decoration: underline;
    }
  }

  .gray-content {
    color: #bbb;
  }
}
